<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Navigator Lite</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h2>Career Navigator</h2>

        <div>
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <section class="hero">
        <h1>Track Your Career Growth</h1>

        <p>
            Manage your skills, internships, academic progress,
            and build your professional profile.
        </p>

        <a href="/register" class="btn">Get Started</a>
    </section>

    <section class="features">

        <div class="card">
            <h3>📚 Skill Tracker</h3>
            <p>Track the technologies and skills you are learning.</p>
        </div>

        <div class="card">
            <h3>💼 Internship Tracker</h3>
            <p>Store all your internship details in one place.</p>
        </div>

        <div class="card">
            <h3>🎯 Career Goals</h3>
            <p>Plan your future and monitor your progress.</p>
        </div>

    </section>

</body>
</html>